= simple_form_for :map, url: map_path(@map), method: "GET", html: { class: 'form-inline' } do |f|
  .input-group
    .input-group-field
      = f.input :search, label: false, input_html: { value: "#{@search}", placeholder: 'Search this map'}
    .input-group-button
      = f.submit "Search", class: "button small button-search"
