%h3
  Hurray, we have created a profile at #{Settings.app_name} for you!
%p
  Please visit #{Settings.app_url} and login with these credentials:
%p
  E-Mail:   #{@user.email}
  %br
  Password: #{@user.password}
%p
  Hint:
  %em
    The password has been generated automatically. Please change it in your user settings