#form-wrapper.large-wrapper
  %p.text-right.close_link_wrapper
    =link_to admin_groups_path, :class=>'close_link' do
      %i.fi.fi-x
  %p.small
    %a{:href => settings_path, :title => 'Settings'}
      %i.fi-widget.fi-21
      Settings
    \&mdash;
    %a{:href => people_path, :title => 'Iconsets'}
      %i.fi-marker.fi-21
      People

  %h1 New person

  = render 'form'


  %hr
  = link_to 'All people', people_path, :class => 'button'

