

.grid-x#selection
  .cell.medium-10
    = select_tag "maps", options_from_collection_for_select(@maps, "id", "title"), include_blank: false
  .cell.medium-2
    = link_to new_map_path, :class => 'button info' do
      %i.fi-plus
