- if @place.annotations.count > 0
  %hr
  - @place.annotations.each do |annotation|
    #saved_annotations
      - if annotation.person
        %p= annotation.person.name
      %h5
        = annotation.title
      .annotation_text
        =h annotation.text.html_safe

      .annotation_metadata
        %p.hint #{l(annotation.created_at)}
    %hr
