- @place.annotations.each do |annotation|
  #saved_annotations
    %h4
      = annotation.title
    .annotation_text
      = annotation.text
    .annotation_metadata
      Created: #{annotation.created_at}