- content_for(:title) { "Not found" }

#info-wrapper
  %p.text-right.close_link_wrapper
    =link_to maps_path, :class=>'close_link' do
      %i.fi.fi-x
  .grid-x
    .large-12.medium-12.cell
      %h1 Oups, sorry!
      %p Sorry, this page, map oder layer could not be found.
      %p
        Please try again from the
        = link_to root_url do
          Startpage
