- content_for(:title) { "Add page" }

#form-wrapper
  %h1 
    Add page
    - if @pageable&.respond_to?(:available_languages) && @pageable.available_languages.present?
      %span.badge.secondary= I18n.locale.to_s
  = render 'pages/partials/form'

