defaults: &defaults
  app_name:          "A Thousand Channels: ORTE Backend"
  app_shortname:     "ORTE"
  app_tagline:       "Putting places (and events) on a map"
  app_version:       0.5
  app_credits:       ""
  app_host:          "127.0.0.1:3000"
  app_host_protocol: 'http'
  app_url:           "http://127.0.0.1:3000"
  app_domain:        "127.0.0.1"
  github_url:        "https://github.com/a-thousand-channels/ORTE-backend"
  base_log_level:    <%= "#{Logger::DEBUG}" %>
  relative_url_root: ""
  secure:             'false'
  default_icon_anchor: ''
  default_icon_size: ''
  default_popup_anchor: ''
  default_class_name: ''


development:
  <<: *defaults

test:
  <<: *defaults

localtest:
  <<: *defaults

staging:
  <<: *defaults
  app_host:          'staging.orte.link'
  app_host_protocol: 'https'
  app_url:           'https://staging.orte.link'
  relative_url_root:  ""
  secure:             'true'

production:
  <<: *defaults
  app_host:          'orte.link'
  app_host_protocol: 'https'
  app_url:           'https://orte.link'
  relative_url_root:  ""
  secure:             'true'
