- content_for(:title) { "Add layer" }

#form-wrapper
  - if params[:ltype] == 'image'
    %h1 Add image layer
  - elsif params[:ltype] == 'geojson'
    %h1 Add GeoJson layer
  - else
    %h1 Add layer
  = render 'layers/partials/form'

