function ShowPlacesForLayer(map) {

  var layer_json_url = $('#selection').data('url');
    // '/maps/1/layers/1.json';
  console.log("drawing placmarks w/data from "+layer_json_url);

  var request = $.getJSON(layer_json_url, function(data) {

    console.log("-----------------------------");
    console.log(data);

    $.each(data.places, function(key,places) {
      console.log("Place////////");
      console.log(key);
      console.log(places.title);
      console.log(places.lat);
      console.log(places.lon);
      var marker = L.marker([places.lat, places.lon], {icon: redIcon}).addTo(map);
      marker.bindPopup("<h4>"+places.title+"</h4>");

    });
  });
}