function ShowPlacesForLayer(map,level) {

  var layer_json_url = $('#selection').data('url');
    // '/maps/1/layers/1.json';
  console.log("Drawing placemarks w/data from "+layer_json_url);



  var request = $.getJSON(layer_json_url, function(data) {

    console.log("-----------------------------");
    console.log(data);

    // read params, place id is given, render this place special
    console.log("Check for url params");
    var params = getParams();
    if ( level === 'layers') {
      console.log("Render places of  one layer");
      DrawMarkers(map,params,data.places);
    } else  {
      $.each(data, function(key,places) {
        console.log("Render places of layer "+key+" on map");
        DrawMarkers(map,params,data[key].places);
      });
    }
  });
}
function DrawMarkers(map,params,places) {
    var c = 0;
    $.each(places, function(key,place) {
      console.log("Place ID "+place.id+"////////");
      console.log(place.title+" @ "+place.lat+"/"+place.lon);
      if ( parseInt(place.id) === parseInt(params.place) ) {
        var icon = redIcon;
        console.log("PLACE FOR RE_MAP FOUND");
      } else if ( place.published === true ) {
        var icon = blueIcon;
      } else {
        var icon = greyIcon;
      }
      // TODO: add to layer, not map
      var marker = L.marker([place.lat, place.lon], {icon: icon}).addTo(map);
      var content = '';
      if ( place.date ) {
        content += "<p>"+place.date;
        if ( place.address ) {
          content += " // "+place.address;
        }
        content += "</p>";
      }
      // console.log(content);
      content += "<h4>"+place.title;
      if ( place.edit_link ) {
        content += place.edit_link;
      }
      content += "</h4>";
      content += "<p>"+place.teaser+"</p>";

      marker.bindPopup(content);
      // console.log(content);
      c++;
    });
    console.log(c+" Marker added to map!");

}
function getParams() {
  var url = window.location.href
  var vars = {};
  var hashes = url.split("?")[1];
  if ( hashes ) {
    var hash = hashes.split('&');

    for (var i = 0; i < hash.length; i++) {
      params=hash[i].split("=");
      vars[params[0]] = params[1];
    }
  }
  return vars;
}