function ShowPlacesForLayer(map,text_layers,image_layers,marker_layers,level) {

  var layer_json_url = $('#selection').data('url');
    // '/maps/1/layers/1.json';
  console.log("Drawing placemarks w/data from "+layer_json_url);



  var request = $.getJSON(layer_json_url, function(data) {

    console.log("-----------------------------");
    console.log(data);

    // read params, place id is given, render this place special
    console.log("Check for url params");
    var params = getParams();
    if ( level === 'layers') {
      console.log("Render places of  one layer");
      DrawMarkers(map,text_layers,image_layers,marker_layers,params,data.color,data.places);
    } else  {
      $.each(data.layers, function(key,data) {
        console.log("Render places of layer "+key+" on map");
        console.log(data.places);
        DrawMarkers(map,text_layers,image_layers,marker_layers,params,data.color,data.places);
      });
    }
    console.log("fit to bounds");
    var bounds = text_layers.getBounds().pad(0.3);
    map.fitBounds(bounds);
  });
}
function DrawMarkers(map,text_layers,image_layers,marker_layers,params,color,places) {
    var c = 0;
    console.log("places: "+places.size);
    var CustomLargeIcon = L.Icon.extend({
      options: {
        iconSize:     [30, 30],
        iconAnchor:   [15, 15],
        popupAnchor:  [-2, -20]
      }
    });
    var CustomSmallIcon = L.Icon.extend({
      options: {
        iconSize:     [12, 12],
        iconAnchor:   [6, 6]
      }
    });
    $.each(places, function(key,place) {
      console.log("Place ID "+place.id+"////////");
      console.log(place.title+" @ "+place.lat+"/"+place.lon);
      if ( color ) {
        console.log("--------------");
        console.log(color);
        if ( place.published === true ) {
          var opacity="0.9"
        } else {
          var opacity="0.7"
        }
        if (color.indexOf('#') == -1) {
          color = '#'+color;
        }
        console.log("--------------");
        console.log(color);
        var svg = "<svg height='30' width='30' xmlns='http://www.w3.org/2000/svg'><circle cx='15' cy='15' r='15' fill='"+color+"' fill-opacity='"+opacity+"' shape-rendering='geometricPrecision'></circle></svg>";
        var url = encodeURI("data:image/svg+xml," + svg).replace(new RegExp('#', 'g'),'%23');
          console.log(url);
        var icon = new CustomLargeIcon({iconUrl: url});
        // var icon = blueIcon;

      } else {
        if ( parseInt(place.id) === parseInt(params.place) ) {
          var icon = redIcon;
          console.log("PLACE FOR RE_MAP FOUND");
        } else if ( place.published === true ) {
          var icon = blueIcon;
        } else {
          var icon = greyIcon;
        }

      }


      // alternative place display marker as text
      // TODO: display switch
      var texticon= L.divIcon({
          html: '<div class="text_inner">'+place.title+'</div>',
          iconAnchor:[10,40],
          iconSize:null,
          popupAnchor:[0,0] });
      var textmarker = new L.marker([place.lat, place.lon], {customId:"context"+c, icon: texticon}).addTo(text_layers);


      // alternative place display image instead of a marker

      var small_svg = "<svg height='14' width='14' xmlns='http://www.w3.org/2000/svg'><circle cx='7' cy='7' r='7' fill='"+color+"' fill-opacity='"+opacity+"' shape-rendering='geometricPrecision'></circle></svg>";
      var small_icon_url = encodeURI("data:image/svg+xml," + small_svg).replace(new RegExp('#', 'g'),'%23');
      var small_icon =new CustomSmallIcon({iconUrl: small_icon_url})
      var small_icon_marker = L.marker([place.lat, place.lon], {icon: small_icon}).addTo(image_layers);
      var small_icon_marker = L.marker([place.lat, place.lon], {icon: small_icon}).addTo(text_layers);

      var html = '';
      if ( place.images && place.images[0] ) {
        html = "<a href='"+place.images[0].image_url+"' target='_blank'><img src='"+place.images[0].image_url+"' /></a>";
      } else {
        html = "";
      }

      var texticon= L.divIcon({
          html: '<div class="image_inner">'+html+'</div>',
          iconAnchor:[0,0],
          iconSize:null,
          popupAnchor:[0,0] });
      var textmarker = new L.marker([place.lat, place.lon], {customId:"context"+c, icon: texticon}).addTo(image_layers);



      // TODO: add to layer, not map
      var marker = L.marker([place.lat, place.lon], {icon: icon}).addTo(marker_layers);
      var content = '';
      if ( place.date ) {
        content += "<p>"+place.date;
        if ( place.address ) {
          content += " // "+place.address;
        }
        content += "</p>";
      }
      // console.log(content);
      content += "<h4>"+place.title;
      if ( place.edit_link ) {
        content += place.edit_link;
      }
      content += "</h4>";
      if ( place.imagelink ) {
        content += "<img src='"+place.imagelink+"' />";
      }
      if ( place.images && place.images[0] ) {
        $.each(place.images, function(kkey, image) {
          content += "<a href='"+image.image_url+"' target='_blank'><img src='"+image.image_url+"' /></a>";
        });
      }

      content += "<p>"+place.teaser.trim()    // remove leading and trailing spaces
                .substring(0, 300).split(" ").slice(0, -1).join(" ") + "...";

      marker.bindPopup(content).on('click', function(){ map.panTo(marker.getLatLng()) });
      c++;
    });
    console.log(c+" Marker added to map!");


}

function getParams() {
  var url = window.location.href
  var vars = {};
  var hashes = url.split("?")[1];
  if ( hashes ) {
    var hash = hashes.split('&');

    for (var i = 0; i < hash.length; i++) {
      params=hash[i].split("=");
      vars[params[0]] = params[1];
    }
  }
  return vars;
}
