function PrepareBeforeLookup(url) {
  $.ajaxSetup({
    headers : {
      'User-Agent' : 'ORTE-Backend, in development (https://github.com/ut/ORTE-backend)'
    }
  });
    var params = getParams();

    // url is provided via data-attr
    // alter this url if there are "remap" and "place" params
    if ( params.remap )  {
      // call URL + "edit"
      console.log('Lookup:: Alter URL for edit');
      url = url+'/places/'+params.place_id+"/edit";
    } else {
     // call URL + "new"
      console.log('Lookup:: Alter URL for new');
      url = url+'/places/new';
    }
    return url;
}

function LookupNominatim(address,url) {
  console.log("check for params");
  var url = PrepareBeforeLookup(url);
  if ( address === '' ) {
    $('#selection-hint').html("<strong>No input!</strong> Please type in a complete address ('Street Number, City')");
    $('#selection-hint').addClass('active');
  }
  if ( address.length < 5 ) {
    console.log('Lookup:: Value too short!');
    $('#selection-hint').html("<strong>Input too short.</strong> Please type in a complete address ('Street Number, City')");
    $('#selection-hint').addClass('active');

  } else {
    console.log('Lookup:: '+address);
    //example
    // https://nominatim.openstreetmap.org/search?q=135+pilkington+avenue,+birmingham&format=xml&polygon=1&addressdetails=1
    var nominatium_url = 'https://nominatim.openstreetmap.org/search';
    var nominatium_url_params = '&format=json&addressdetails=1'

    var request = $.getJSON( nominatium_url+"?q="+address+nominatium_url_params, function( data ) {

    // if no result
    if ( !data ) {
      console.log('Lookup:: No result');
      $('#selection-hint').html("Nothing found. Please try another adress ('Street Number, City')");
      $('#selection-hint').addClass('active');
      return;
    }
    // if results
    var items = [];
    $.each( data, function( key, val ) {
      console.log('Lookup:: Data val');
      console.log(val.class);
      var regexp = /amenity|building|highway/gi;
      var label = ''
      if ( val.class === 'building') {
        label = 'Adresse:';
      }
    var href = url+'?address='+val.display_name+'&lat='+val.lat+'&lon='+val.lon;



      // OR better get address details
      /*
      pub Café Treibeis
      house_number  25
      road  Gaußstraße
      suburb  Ottensen
      city_district Altona
      state Hamburg
      postcode  22765
      country Germany
      country_code  de
      */

      if ( val.address ) {

        var location;
        location = val.address[Object.keys(val.address)[0]];
        console.log("////////////////"+location);
        if ( val.class === 'building') {
          location = val.address.road+" "+val.address.house_number
        }

        // TODO verify all values
        // FIXME hamburg as state
        href = url+'?location='+location+"&address="+val.address.road+" "+val.address.house_number+"&zip="+val.address.postcode+"&city="+val.address.state+'&lat='+val.lat+'&lon='+val.lon;

      }




      if ( val.class.match(regexp) ) {
        console.log('Lookup:: Using entry');
        items.push( "<li id='" + key + "'><a href='"+href+"'>" + label + " " + val.display_name + "</a></li>" );
      }
    });

    $( "<ul/>", {
        "id": "response",
        html: items.join( "" ),
      }).appendTo( "#selection" );
    }).done(function() {
      console.log( "success" );
      $('#selection-hint').html("Please select one of the addresses below or give in another address.");
      $('#selection-hint').addClass('active');
    })
    .fail(function() {
      console.log( "error" );
      $('#selection-hint').html("Nothing found. Please try another input.");
      $('#selection-hint').addClass('active');
    })
    .always(function() {
      console.log( "complete" );
    });
  }

}

function ReverseLookupNominatim(map,latlng,lat,lon,url) {

  console.log('Reverse Lookup:: Lat '+lat+'/Lon '+lon);
  var url = PrepareBeforeLookup(url);

  if ( lat === '' ) {
    $('#selection-hint').html("<strong>No input!</strong> Please try again");
    $('#selection-hint').addClass('active');
  } else {
    console.log('Reverse Lookup:: '+lat+"/"+lon);
    //example
    // https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=-34.44076&lon=-58.70521
    var nominatium_reverse_url = 'https://nominatim.openstreetmap.org/reverse';
    var nominatium_url_params = '&format=jsonv2'

    var request = $.getJSON( nominatium_reverse_url+"?lat="+lat+"&lon="+lon+nominatium_url_params, function( data ) {

      // if no result
      if ( !data ) {
        console.log('Lookup:: No result');
        $('#selection-hint').html("Nothing found. Please try another place on the map");
        $('#selection-hint').addClass('active');
        return;
      }
      // if results
      var items = [];
      // empty container
      $('#resonse').html(' ');
      console.log(data);
      console.log('Reverse Lookup:: Data val');
      console.log(data.display_name);
      var location = ' '
      if ( data.name && data.name.length > 0 ) {
          location = data.name;
      }
      // call "places/new"
      var house_number = '';
      if ( data.address.house_number ) {
        house_number = ' '+data.address.house_number ;
      }
      full_address = location+" "+data.address.road+house_number+", "+data.address.postcode+' '+data.address.state+' ('+data.address.suburb+")"
      var href = url+'?location='+location+'&address='+data.address.road+house_number+'&zip='+data.address.postcode+'&city='+data.address.state+' ('+data.address.suburb+')&lat='+lat+'&lon='+lon;
      console.log(href);
      // that would be a direct call
      // window.location = href;

      // show found place instead
      items.push( "<li id='1'><a href='"+href+"'>"+full_address + "</a></li>" );
    /*  $( "<ul/>", {
          "id": "response",
          html: items.join( "" ),
        }).appendTo( "#selection" );
*/
      var params = getParams();
      if ( params.remap )  {
        var hint = 'Re-map this address: ';
      } else {
        var hint = 'Map this address: ';
      }
      L.popup().setLatLng(latlng).setContent("<p>"+hint+" <a href='"+href+"'>"+full_address +"</a></p>").openOn(map);
    }).done(function() {
      console.log( "success" );
      $('#selection-hint').html("Please select the address shown in the popup or try another input.");
      $('#selection-hint').addClass('active');

    })
    .fail(function() {
      console.log( "error" );
      $('#selection-hint').html("Nothing found. Please try another input.");
      $('#selection-hint').addClass('active');
    })
    .always(function() {
      console.log( "complete" );
    });
  }

}
