html,body {
  height: 100%;
}

body {
  font-family: "worksans","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-family: "worksans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 11.3pt;
}
header {
    position: absolute;
    top: 0;
    z-index: 9;
    right: 0;
    left: 0;
}
h1,h2 {
  font-family: "worksans-light","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1;
}
h3,h4,h5,h6 {
  font-family: "worksans-semibold","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
h3 {
  font-size: 1.5375rem;
}
h4 {
  svg {
    vertical-align: -6px;
    margin-right: 10px;
  }
}
h5, .h5 {
  font-size: 1.1rem;
}
p {
  font-size: 16px;
  line-height: 1.33;
}
p.compact {
  margin: 0;
}
p.small.compact {
  margin-bottom: 0.2rem;
}

a.disabled {
   cursor: not-allowed;
}
div.small {
    font-size: 0.8rem;
}
.hide, .hidden {display: none;}
.shy {
    color: #666;
    font-size: 14px;
}
.small {
    font-size: 14px;
    line-height: 1;
}
.clear { clear: both; }
.nobr { white-space: nowrap; }

tt {
  font-size: 9pt;
  color: darkblue;
}
p.inline, div.inline {
  display: inline; margin: 0;
}
p.clear {
  margin: 0;
}
div.alert-box,
small.error {
    color: red;
    border: 2px solid red;
    padding: 10px;
}
span.confirmation {
  color: #1bb71b;
}

span.name, label {
    color: #775;
    font-size: 90%;
    text-transform: initial;
    font-weight: bold;
    padding-right: 10px;
    line-height: 1.2;
    padding-bottom: 5px;
}
label > [type="checkbox"] {
  margin: 0 0.2rem 0.2rem;
}
label.text {
  padding-top: 10px;

}
p.label {
  margin-bottom:  0.2rem;
}
.input.boolean labelX {
  line-height: 0;
  margin-bottom: 10px;
}
span.name.middle {
  padding-top: 7px;
  display: inline-block;
}


hr {border-bottom: 1px solid #aaa;}
hr.small { margin: 0.25rem auto 0.65rem; }

tbody th, tbody td {
    text-align: left;
}

nav.pagination {
  text-align: right;
}

.loader_wrapper {
  // cover the whole page, content in the middle
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.5);
  z-index: 2;
}
.loader {
  // place in the moddle of loader_wrapper div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.7);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* -------------------- */
/* foundation adapations */
.callout {
    border: 0px;
    margin: 20px 0;
    margin: 0 0 0.5rem 0;
    padding: 0.7rem 3rem 0.7rem 0.7rem;
}
div.panel {
    border: 5px solid #bbc;
    margin: 20px 40px;
    padding: 20px;
}
div.columns.borderless {padding: 0;}

.tooltip {
    z-index: 12000;
    font-size: 100%;
}

a.button {
  color: white !important;
}
a.button.small {
  margin: 0 0.25rem 0.25rem;
  padding: 0.45em 0.7em;
  white-space: nowrap;
}
.close-button.small {
    right: 0.66rem;
    top: auto;
    right: 12px;
    top: unset;
    font-size: 1em;
    line-height: 1;
    position: absolute;
    @media screen and (max-width: 39.9375em) {
      right: 18px;
    }
}
a.small.button.rounded {
    border-radius: 20px;
    padding: 5px 6px;
    background-color: white;
    color: darken(#c6c600,5%) !important;
    font-size: 0.9rem;
}
a.small.button.rounded.rounded-grey {
    border-radius: 20px;
    padding: 5px 6px;
    background-color: #efefef;
    color: darken(#c6c600,5%) !important;
    font-size: 0.9rem;
}
a.small.button.rounded:hover {
    color: darken(#c6c600,15%) !important;
}
a.button.action {
  font-size: 13pt;
  i {
    padding-right: 10px;
    vertical-align: text-top;
  }
}

a.thumbnail {
  border: solid 4px transparent;
}
a.thumbnail.thumbnail-preview {
  border: solid 4px orange;
}

a.button.button-right {
    margin-right: 4px;
}
a.button.button-right.button.tiny {
    font-size: 0.8rem;
}
a.button.button-right.button-view.button.tiny {
}
/* -------------------- */

select {
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* -------------------- */
.reveal {
  background-color: #fefefe;

  button.close-button {
    color: #c6c600;
  }
}
/* -------------------- */
.card {
  padding: 0.75rem;

  p {
    line-height: 1.1;
    margin-bottom: 0.25rem;
  }
}
/* -------------------- */
.label.secondary.tag {
    padding: 0.45em 0.75em;
    margin-bottom: 0.25rem;
    border-radius: 4px;
    background-color: #baa;
    background-color: #767676;
    font-size: 0.9rem;
    transition: all 0.3s;

    a {
      color: white;
    }
}
.label.secondary.tag.active,
.label.secondary.tag:hover {
    background-color: #a99;
    background-color: #8c7f7f;
    background-color: #c6c600;
    transition: all 0.3s;
    a {
      color: white;
    }
}

/* -------------------- */
.top-bar, .top-bar ul {
    background-color: #333;
    padding: 0;
}

.top-bar ul li.name {
    font-family: 'worksans-semibold', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin-top: 2px;
    min-width: 440px;
}

@media screen and (max-width: 63.9375em) {
  .top-bar .top-bar-left {
    max-width: 45%;
  }
}@media screen and (max-width: 43.9375em) {
  .top-bar .top-bar-left {
    max-width: 40%;
  }
}
@media screen and (max-width: 39.9375em) {
  .top-bar .top-bar-left {
      flex: 0 0 100%;
      max-width: 40%;
  }
  .top-bar .top-bar-right {
    max-width: 55%;
      ul.menu {
        float: right;
      }
  }
  #maps header,
  #layers header {
    display: none;
  }
}

.menu a, .menu .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.6rem 1rem;
    @media screen and (max-width: 63.9375em) {
      padding: 0.6rem 0.5rem;
    }
}
.menu a#login {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem;
}
.menu li.name a {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.1rem 1rem;
}
.menu a.button.logout {
    background-color: #333;
    color: #aaaa00 !important;
    /* margin-top: 3px; */
    padding: 0.5rem 0.75rem;
    border-radius: 30px;
}
.menu a.button.logout:hover {
    background-color: #555;

}



/* -------------------- */
body .top-bar.action-bar {
  background-color: rgba(255,255,255,0.7);
  background-image: none !important;
  padding: 7px 15px 7px 15px;
  a {
    color: #333;
  }

  .action-bar-left {
    flex-grow: 1;
    width: 25%;
    text-align: left;
  }
  .action-bar-center {
    flex-grow: 1;
    width: 32%;
    text-align: center;

    a.button.small {
      padding: 0.6em 0.6em !important;
      color: #333 !important;
      display: inline;
      font-weight:  bold;
      font-size:  14px;

      opacity:  1;
      transition: 3s all;
      svg {
        height: 18px;
        vertical-align: -3px;
        path {
          color:  #333;
        }
      }
    }
    a.hide {
      display: none;
      opacity:  0;
      background-color: transparent;
      color: transparent !important;
      transition: all 2s;
    }
    a.button.disabled {
      background-color: silver;
      color: gray !important;
    }
  }
  .action-bar-right {
    flex-grow: 1;
    width: 25%;
    text-align: right;
  }
}

/* -------------------- */
footer {
  background-color: #333;
  z-index: 15;
  color: #555;
}
/* -------------------- */
div.input-group {

  margin-bottom: 0.5rem;
  select {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    @media screen and (max-width: 39.9375em) {
      padding: 0.3rem 1.5rem 0.3rem 0.3rem;
      font-size: 1rem;
    }
  }

  div.input-group-button a.button {
      padding: 0.4em 1em 0 1em;
      margin: 0;
  }
}
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    margin: 0 0 0.3rem;
    padding: 0.2rem;
}
input[type="time"] {
    width: 93px;
}
input[type="date"] {
    width: 137px;
}
input[type="color"] {
    min-height: 20px;
}
textarea {
  min-height: 57px
}

.form-actions {
  margin-top: 15px;

  p {
    margin: 0;

    .button {
        margin: 0;
    }
  }
}
p.date {
  margin-top: 1em;
  margin-bottom: 0;
}

p.hint-simple
 {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 0;
  text-align: right;
  max-width: 400px;
  margin: 10px 0;
  text-align:  left;
  border-left: 0px solid #aaa;
  padding-left: 0;

}

span.hint,
p.hint,
ul.hint li
 {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 0;
  text-align: right;
  max-width: 400px;
  margin: 10px 0;

  text-align:  left;
  border-left: 3px solid #aaa;
  padding-left: 10px;

}
p.hint {

}
p.hint.text-left {
  border-left: 3px solid #aaa;
  padding-left: 10px;
  text-align: left;
}
ul.hint {
  list-style: none;
  margin-left:  0;
  margin-bottom: 0.25rem;
}
ul.hint li {
  text-align: left;

}
p.hint.hint-margin {
  margin-bottom:  20px;
}
p.hint.hint2 {
   color: #aaa;
}
p.hint.hint2:hover {
  color: grey;
}

/* ------------------------ */
div.switch {
    height: initial;
    position: static;
    margin-bottom: 0;
    vertical-align: -10px;
    .switch-paddle {
      width: 7.2rem;
      padding-right: 6px;
    }
    input:checked ~ .switch-paddle::after {
      left: auto;
      right: 0.25rem;
    }
    .switch-inactive {
      right: 10%;
    }
}
p#remap {
  margin: 10px 0 0 0;
}
/* -------------------- */
