/* -------------------- */
body {
    background-color: #333;
}
#map {
  height: 100%;
  z-index: 1;
}
main {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0;
  margin: 65px 0 0 20px;
  background-color: transparent;
  min-height: auto;
  padding: 0;

  a {
    color: darken(#c6c600,10%);
  }

}
@media screen and (max-width: 63.9375em) {
  main {
  }
}
@media screen and (max-width: 39.9375em) {
  main {
      padding: 5px;
      top: 0;
      margin:  10px 0 0 5px;
      min-height: none;
      right: 0;
      left: 0;
      max-width: 99%;
      min-height: auto;
  }
  #layers main {
    margin-top: 5px;
  }
}

body#start main {
  @media screen and (max-width: 39.9375em) {
    margin-top: 40px;
  }
}

/* -------------------- */

#layers #table-wrapper {
    max-width: unset;
    max-width: min-content;
    min-width: 500px;
    @media screen and (max-width: 39.9375em) {
      min-width: 300px;
    }
}
#layers .grid-x.grid-images {


  div.gallery {
    background: white;
    padding: 10px;
  }
}
/* -------------------- */
form#addresslookup {

  width: auto;
  display: inline-block;
  .input-group {
    margin: 0;
    width: max-content;
  }
}
input#addresslookup_address {
  margin: 0;
  padding: 0.5rem;
  transition: all 1s;
  width: auto;
}
input#addresslookup_address.hide {
  padding: 0;
  width: 0;
  transition: all 1s;
}

/* -------------------- */
#layers main,
#layers main .grid-x,
#layers main .cell,
#layers main #selection {
  /* avoid 100% width for a nav elements  */
  width: max-content;
  min-width: 250px;
}

#selection {
}

#selection #selection-hint p {
  background-color: rgba(200,200,200,0.5);
  padding: 5px 10px;
  margin: 0;
  max-width: 310px;
  display: block;
  font-size: 11pt;
}
@media screen and (max-width: 43.9375em) {
  #selection #selection-hint {
    display: none;
  }
}
#selection #selection-hint.active p {
  background-color: rgba(200,200,200,0.8);
  color: #522;
  display: block;
}

#selection ul#response {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  li  {

    margin: 0 0 1rem 0;

    a {
      display: block;
      padding: 0.4rem;
      color: #444;
      background-color: rgba(255,255,255,0.7);
      border: 1px solid rgba(255,255,255,0.7);
    }
    a:hover {
      border: 1px solid red;
      background-color: rgba(255,255,255,0.9);
    }
  }

}
#selection-reveal-hint {
  text-shadow: 1px 1px 3px white;
  display: inline-block;
  background-color: rgba(255,255,255,0.2);
}
#info-wrapper,
#table-wrapper,
#form-wrapper {
  background-color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  min-width: 450px;
  max-width: 90%;
  @media screen and (max-width: 39.9375em) {
    padding: 10px;
    min-width: none;
    margin-top: 10px;
    max-width: 97%;
    max-width: unset;

    tbody th, tbody td {
      padding: 0.5rem 0.3rem 0.3rem;
    }
  }
}
#info-wrapper {

  @media screen and (max-width: 39.9375em) {

  }

}
#form-wrapper {
  max-width: unset;
}
#form-wrapper.small-wrapper {
  min-width: none;
  max-width: 80%;
  max-width: 225px;
  p {
    margin-bottom: 0.25rem;
  }
  p.hint {
    text-align: left;
  }
  a.button {
    margin: 0.4rem 0 0 0;
  }
}

#table-wrapper.large-wrapper,
#form-wrapper.large-wrapper {
  min-width: 700px;
}
@media screen and (max-width: 63.9375em) {
  #info-wrapper,
  #table-wrapper,
  #form-wrapper {
    min-width: initial;
    max-width: initial;
  }
  #table-wrapper.large-wrapper,
  #form-wrapper.large-wrapper {
    min-width: auto;
  }
}





p.close_link_wrapper {
  width: 20px;
  float: right;
  padding: 0;
  line-height: 1;
  margin: 0;
  a.close_link {
    font-size: 2rem;
    line-height: 0.7;
    color: #aaaa00;
    right: none;
    position: relative;
  }
}

.leaflet-marker-icon.leaflet-div-icon {
  background-color: transparent;
  border: none;
}

/* text-marker */

.text_inner {
    color: white;
    background-color: rgba(200,200,200,0);
    line-height: 0.6;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 8px;
    border: none;
    text-shadow: 0 0 7px #333;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 200px;
}

/* image-marker */

.image_inner {
    color: white;
    background-color: rgba(200,200,200,0);
    padding: 0;
    border: none;
    border-radius: 100px;
    overflow: auto;
    img {
      max-width: 65px;
      width: 65px;
      min-height: 65px;
      background-color: rgba(200,200,200,0.8);
    }
}

/* custom map control/nav bars */

div.nav_bar {
    position: absolute;
    z-index: 2;
    right: 10px;
    background-color: transparent;

    .nav_bar_item {
      padding: 3px 9px;
      text-align: center;
      font-weight: bold;
      background-color: white;
      margin: 0 0 10px 0;
    }
    .nav_bar_item:hover {
      background-color: #c6c600;
      cursor: pointer;

    }
}
#marker_bar {
  top: 160px;
}
#export_bar {
  /* in map */
  /* bottom: 100px; */

  /* in footer */
  position: fixed;
  z-index: 1999;
  bottom: -3px;
  .nav_bar_item {
    color: #888;
    background-color: transparent;
    a {
      color: #888;
    }
    a:hover {
      color:  #c6c600;
    }
  }
}

svg.icons {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  path {
    fill: #939300;

  }
}

.card.card-image-info {
    padding: 10px 10px 0;
    color: #444;
    background-color: transparent;
    border: 1px solid #444;
    p {
      margin-bottom: 5px;
    }

}

.tags {
  max-width: 80vw;
  margin: 15px 30px 15px 0;
}


.thumbnail.thumbnail-svg {
  height: 120px;
  width: 120px;
}
.thumbnail.thumbnail-svg.thumbnail-svg-small {
  height: 60px;
  width: 60px;
}
