
/* -------------------- */
.form-actions {
    /* margin-top: 0; */

  input.button[type=submit] {
    background-color: #a0c400;
  }
}

/* inline */
.input-group-button input.button.small {
    height: 39px;
}

/* -------------------- */
#new_annotations {
    padding: 16px 20px;
    margin: 15px 0 20px;
    background: rgba(240,255,255,0.5);
}
/* -------------------- */

div.place_layer {
  padding-top: 5px;
  padding-bottom: 10px;
  label {
    display: inline;
  }
  select#place_layer_id {
    display: inline;
    width: 80%;
    margin-left: 0;
    padding: 0.1em;
  }
}
#layer_display_cancel i.fi {
  vertical-align: middle;
}

#layer_selector {

  .input.select {
    display: inline;
  }
}


select.datetime {
  width: 100px;
  padding: 0.3rem;
}
select#place_startdate_1i,
select#place_enddate_1i  {
  width: 62px;
}
select#place_startdate_3i,
select#place_enddate_3i  {
  width: 46px;
}
select#place_startdate_4i,
select#place_enddate_4i
 {
  width: 46px;
}
select#place_startdate_5i,
select#place_enddate_5i  {
  width: 46px;
}


form .image {
  width: 45%;
  padding-right: 10px;

}

.image-toolbar, .video-toolbar {
  position: absolute;
  margin: 3px 0 0 3px;
  a.button {
    padding: 0.55em 0.75em;

  }
  a.button.button-right {
    margin-right: 6px;
  }

  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
}
  a.thumbnail {
    border: solid 4px transparent;
    margin: 0 10px 2px 0;
    padding: 3px;
  }



/* layer > form: color preview + input in one row */

#preview_color_wrapper {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.5em 1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
	div.input.string.optional.layer_color {
	    display: inline-block;
	    width: 140px;
	}
	#layer_color_preview {
	    vertical-align: middle;
	    margin-right: 10px;
	}
  input#layer_color {
    background-color: rgba(255,255,255,0.5);
    color: #888;
  }
}

#another_color_wrapper {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.5em 1em;
  margin-top: 0.5em;
  p.small {
    color: #666;
  }
  span {
    cursor: pointer;
    svg:hover {
      stroke: white;
    }
  }
}

#background_color_preview {
  height:  100px;
  boder:  1px solid grey;
}