
/* leaflet overrides */
#map {
  background: #fefefe;
}
#map .leaflet-top {
    top: 40px;
}
#map .leaflet-control-layers,
#map .leaflet-bar {
    border: 0;
    border-radius: 0;

    @media screen and (max-width: 39.9375em) {
        display: none;
    }
}
#map .leaflet-bottom.leaflet-right .leaflet-bar.leaflet-control {
    @media screen and (max-width: 39.9375em) {
        display: block;
    }
}


#map .leaflet-control-layers-toggle::before {
    content: "*";
    font-size: 38px;
    line-height: 1.2;
    padding-left: 8px;
}
#map .leaflet-control-layers-toggle {
    background-image: none;
    width: 31px;
    height: 31px;
}
#map .leaflet-control-layers-list label {
  color: darken(#c6c600,10%);
}
#map .leaflet-control-layers-selector {
    margin-right: 5px;
}
#map.leaflet-container a {
    color: darken(#c6c600,10%);

}

#map .leaflet-bar a:first-child,
#map .leaflet-bar a:last-child

 {
    border-radius: 0;
    background-color: white;
}

#map .leaflet-bottom {
    bottom: 43px;
    @media screen and (max-width: 39.9375em) {
      bottom: 43px;
    }
}
.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: rgba(55, 55, 55, 0.7);
    margin: 0;
    color: #999;
    padding: 0 1.3rem 0 0.7rem;
}
.leaflet-container .leaflet-popup-content {
    line-height: 1.4;
    /* margin-right: 10px !important;
    margin-top: 20px !important; */
}
.leaflet-container a.leaflet-popup-close-button {
    padding: 6px 4px 0 0;
    width: 24px;
    height: 14px;
    font: 21px/14px Tahoma, Verdana, sans-serif;
        font-weight: normal;
}
/* -------------------- */
#map .leaflet-popup-content-wrapper, #map  .leaflet-popup-tip {
    background: rgba(255,255,255,0.7);
    color: #333;
    box-shadow: 0;
    border-radius: 0;

    .leaflet-popup-content {
      margin: 0;
      padding: 0;

      h4 {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
        line-height: 1;
        padding-right: 10px;
      }

      p {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
        padding-right: 10px;
        font-size: 9pt;
        a {
          color: black;
          text-decoration: underline;
        }
        a:hover {
          text-decoration: underline;
        }
        a.button, a.button:hover {
          text-decoration: none;
        }
      }
      img {
        width: 100%;
        margin-top: 0;

      }
    }
}

/* iconset settings */


body.iconset .leaflet-control-layers-toggle{
    display:none;
}
body.iconset #map.leaflet-container a {
    color: #1a1a1a;
}


body.iconset #map .marker-icon {
    background-color: rgba(255,255,255,1); border-radius: 0; padding: 2px;
    height: 30px; width: 30px;
    border: 0px solid #1a1a1a;
    box-shadow: 0 0 4px #000;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }
}

body.iconset #map .marker-icon.marker-icon-featured {
    box-shadow: 0 0 4px #c00 !important;
    color: #c00;
}


body.iconset #map .marker-icon:after, body.iconset #map .marker-icon:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

body.iconset #map .marker-icon:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}
body.iconset #map .marker-icon:before {
    border-color: rgba(26, 26, 26, 0);
    border-top-color: #1a1a1a;
    border-width: 8px;
    margin-left: -8px;
}
body.iconset #map .marker-icon.marker-icon-featured:before {
    border-color: rgba(26, 26, 26, 0);
    border-top-color: #c00;
    border-width: 8px;
    margin-left: -8px;
}


body.iconset #map .leaflet-popup-content-wrapper, body.iconset  #map  .leaflet-popup-tip {
    background: rgba(255,255,255,1);
    color: #333;
    border: 2px solid #1a1a1a;
    box-shadow: 0 0 0  #1a1a1a;
    border-radius: 0;
    padding: 0;
    a {
        color: #1a1a1a;
    }
    a.edit_link i {
        border: 1px solid #1a1a1a;
    }
}
body.iconset #map .leaflet-popup-tip-container { display: none; }