
/* leaflet overrides */
#map .leaflet-control-layers,
#map .leaflet-bar {
    border: 0;
    border-radius: 0;

    @media screen and (max-width: 39.9375em) {
        display: none;
    }
}
#map .leaflet-control-layers-toggle::before {
    content: "*";
    font-size: 38px;
    line-height: 1.2;
    padding-left: 8px;
}
#map .leaflet-control-layers-toggle {
    background-image: none;
    width: 31px;
    height: 31px;   
}
#map .leaflet-control-layers-list label {
  color: darken(#c6c600,10%);
}
#map .leaflet-control-layers-selector {
    margin-right: 5px;
}
#map.leaflet-container a {
    color: darken(#c6c600,10%);
}

#map .leaflet-bar a:first-child,
#map .leaflet-bar a:last-child

 {
    border-radius: 0;
    background-color: white;
}

#map .leaflet-bottom {

    @media screen and (max-width: 39.9375em) {
      bottom: 43px;
    }
}
.leaflet-container .leaflet-popup-content {
    line-height: 1.4;
    /* margin-right: 10px !important;
    margin-top: 20px !important; */
}
.leaflet-container a.leaflet-popup-close-button {
    padding: 6px 4px 0 0;
    width: 24px;
    height: 14px;
    font: 21px/14px Tahoma, Verdana, sans-serif;
        font-weight: normal;
}
/* -------------------- */
#map .leaflet-popup-content-wrapper, #map  .leaflet-popup-tip {
    background: rgba(255,255,255,0.7);
    color: #333;
    box-shadow: 0;
    border-radius: 0;

    .leaflet-popup-content {
      margin: 0;
      padding: 0;

      h4 {
        margin: 0.5rem 1rem 0.5rem 1rem;
        line-height: 1;
      }

      p {
        margin: 0.5rem 1rem 0.5rem 1rem;

        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 9pt;
        a {
          color: black;
          text-decoration: underline;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      img {
        width: 100%;
        margin-top: 0;

      }
    }
}
