.table-wrapper {
  overflow: auto;
  margin-bottom: 5px;
}

th.nobr, td.nobr, span.nobr {
  white-space: nowrap;
}

div.alert {
  background-color: rgba(200,0,0,0.2);
  padding: 15px;
  margin-bottom: 10px;
}
div.feedback {
  background-color: rgba(0,200,150,0.2);
  padding: 15px;
  margin-bottom: 10px;
}