/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require leaflet/leaflet
 *= require leaflet/MarkerCluster
 *= require leaflet/MarkerCluster.Default
 *= require leaflet/leaflet.draw.css
 *= require leaflet/L.Control.Locate.css
 *= require select2
 *= require 1_basics
 *= require 2_styles
 *= require 3_forms
 *= require 4_map
 *= require 5_header
 *= require public/submissions
 */

$primary-color: null;
$secondary-color: null;
$success-color: null;
$warning-color: null;
$alert-color: null;
$-zf-size: null;
$-zf-bp-value: null;

@import 'foundation';
@import 'foundation-icons';
@import 'worksans';
@import 'orte';

/* --------------------------- */
body.development  .top-bar ul,
body.staging  .top-bar ul {
  background: none;
}

body.development .top-bar,
body.staging .top-bar
{
 background-image: linear-gradient(130deg, #47473c 25%, #333333 25%, #333333 50%, #47473c 50%, #47473c 75%, #333333 75%, #333333 100%);
 background-size: 52.22px 62.23px;
}
body.development .top-bar-left * {
  color:  #939300;
}
body.development .top-bar-right * {
  color:  #939300;
}
/* --------------------------- */
body[data-app-shortname='A1000C-ORTE'] {
  .top-bar {
    background-size:  cover;
    background: linear-gradient(-90deg, rgba(255,198,198,1) 0%, rgba(51,51,51,1) 100%);
    background:  linear-gradient(-90deg,rgba(255,0,249,.85),rgba(255,117,0,.85) 50%,rgba(255,0,35,.85));
    background:  linear-gradient(90deg,rgba(255,117,0,.85), rgba(50,50,50,1) 75%, rgba(50,50,50,1));
    background:  linear-gradient(90deg,rgba(255, 191, 200,.85), rgba(50,50,50,1) 85%, rgba(50,50,50,1));
    background: none;
    background-color: #333333;
    color:  black;
  }
    .top-bar-left * {
    color:  #333;
    color:  #939300;
  }
    .top-bar-right * {
    color:  #939300;
  }

  .top-bar img.app_icon {
      background-color: rgba(255, 255, 255,0);
      border-radius: 50px;
      padding: 0;
      margin: 0;
      height: 65px;
      margin-top:  -10px;
      position: absolute;
  }
  .top-bar .menu li.name a {
    padding: 0.2rem 1rem 0 3.6rem;
  }
  svg.icons path {
    fill: #333;
    fill: #939300;

  }
}

/* --------------------------- */
main {
  min-height: 450px;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;

    @media screen and (max-width: 39.9375em) {
      padding: 10px 10px;
    }
}


.input-group-label {
    padding: 0 0.4rem !important;
 }
.orte-icons-maps {
    line-height: 1.8;
	height: 20px;
}
.orte-icons-layers {
    line-height: 1.8;
	height: 20px;
}
.orte-icons-places {
    line-height: 1.8;
 	height: 20px;
}
.top-bar .orte-icons-maps {
    line-height: 1;
}
.top-bar .orte-icons-maps:before {
    font-size: 26px;
}

h1 .orte-icons-maps:before,
h1 .orte-icons-layers:before,
h1 .orte-icons-places:before {
    font-size: 56px;
    vertical-align: middle;
}
.fi-13 { font-size: 13px; vertical-align: top; }
.fi-16 { font-size: 16px; vertical-align: middle; }
.fi-21 { font-size: 21px; vertical-align: middle; }
.fi-24 { font-size: 24px; vertical-align: middle; }
.fi-30 { font-size: 30px; vertical-align: middle; }

.fi-marker.fi-24 {
    padding: 0 2px;
}


a.edit_link .fi {
	background-color: rgba(255,255,255,0.7);
  background-color: rgba(215, 215, 215, 0.7);
	color: #333;
	border-radius: 10px;
	padding: 3px 5px;
	transition: 0.7s all;
	cursor: pointer;
}
a.edit_link:hover .fi {
	    background-color: #333;
	    color: white;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.5s all;
	    cursor: pointer;
	}


#layer_change {

	.fi.fi-shuffle,
	.fi.fi-pencil,
	.fi.fi-x
	{
	    background-color: white;
	    color: #333;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.7s all;
	    cursor: pointer;

	}
	.fi.fi-shuffle:hover,
	.fi.fi-pencil:hover,
	.fi.fi-x:hover
	 {
	    background-color: #333;
	    color: white;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.5s all;
	    cursor: pointer;
	}
}

.orbit {
	margin-bottom: 20px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
