/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require leaflet/dist/leaflet
 *= require leaflet.markercluster/dist/MarkerCluster
 *= require leaflet.markercluster/dist/MarkerCluster.Default
 *= require leaflet-draw/dist/leaflet.draw.css
 *= require leaflet.locatecontrol/dist/L.Control.Locate.css
 *= require select2
 *= require 1_basics
 *= require 2_styles
 *= require 3_forms
 *= require 4_map
 *= require 5_header
 *= require public/submissions


 */

@import 'foundation';
@import 'foundation-icons';
@import 'worksans';
@import 'orte';


main {
  min-height: 450px;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}


.input-group-label {
    padding: 0 0.4rem !important;
 }
.orte-icons-maps {
    line-height: 1.8;
	height: 20px;
}
.orte-icons-layers {
    line-height: 1.8;
	height: 20px;
}
.orte-icons-places {
    line-height: 1.8;
 	height: 20px;
}
.top-bar .orte-icons-maps {
    line-height: 1;
}
.top-bar .orte-icons-maps:before {
    font-size: 26px;
}

h1 .orte-icons-maps:before,
h1 .orte-icons-layers:before,
h1 .orte-icons-places:before {
    font-size: 56px;
    vertical-align: middle;
}
.fi-13 { font-size: 13px; vertical-align: top; }
.fi-16 { font-size: 16px; vertical-align: middle; }
.fi-21 { font-size: 21px; vertical-align: middle; }
.fi-24 { font-size: 24px; vertical-align: middle; }
.fi-30 { font-size: 30px; vertical-align: middle; }

.fi-marker.fi-24 {
    padding: 0 2px;
}


a.edit_link .fi {
	background-color: rgba(255,255,255,0.7);
	color: #333;
	border-radius: 10px;
	padding: 3px 5px;
	transition: 0.7s all;
	cursor: pointer;
}
a.edit_link:hover .fi {
	    background-color: #333;
	    color: white;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.5s all;
	    cursor: pointer;
	}


#layer_change {

	.fi.fi-shuffle,
	.fi.fi-pencil,
	.fi.fi-x
	{
	    background-color: white;
	    color: #333;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.7s all;
	    cursor: pointer;

	}
	.fi.fi-shuffle:hover,
	.fi.fi-pencil:hover,
	.fi.fi-x:hover
	 {
	    background-color: #333;
	    color: white;
	    border-radius: 10px;
	    padding: 3px 5px;
	    transition: 0.5s all;
	    cursor: pointer;
	}
}