#form-wrapper
  %p.text-right.close_link_wrapper
    =link_to admin_users_path, :class=>'close_link' do
      %i.fi.fi-x
  %h1 New user

  = render 'form'
  %hr
  = link_to 'All users', admin_users_path
